<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Api</title>
  <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <div class="container">
    <form action="" class="form-container">
      <div class="form-grid">
        <div>
          <label for="cep">Cep:</label>
          <input type="text" name="cep" id="cep">
        </div>
        <div>
          <label for="state">State:</label>
          <input type="text" name="state" id="state" disabled>
        </div>
        <div>
          <label for="city">City:</label>
          <input type="text" name="city" id="city" disabled>
        </div>
        <div>
          <label for="neighborhood">Neighborhood:</label>
          <input type="text" name="neighborhood" id="neighborhood" disabled>
        </div>
        <div>
          <label for="number">Number:</label>
          <input type="number" name="number" id="number" disabled>
        </div>
        <div>
          <label for="street">Street:</label>
          <input type="text" name="street" id="street" disabled>
        </div>
				<button type="submit">Enviar</button>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>